[builder]
encoder = "encoder_lsbjpg"
transport = "transport_imgur"

[framework]
framework = 'cobalt_strike'

[client_options]
client.c2_block_time = 100
client.cdll_name = "cdll.dll"
client.c2_pipe_name = "\\\\.\\pipe\\foobar"

[encoder_options]
img_format = PNG
img_size = 4320

[transport_options]
USERNAME = ""
client_id = ""
client_secret = ""
SEND_ALBUM_NAME = "TSK4U"
RECV_ALBUM_NAME = "RESP4U"
access_token = ""
refresh_token = ""

